# Set a non-emptpy string to start the rails server normally.
# Otherwise it enters the maintenance mode.
RAILS_IN_SERVICE=

# Local development settings
RAILS_ENV=development
SECRET_KEY_BASE=0123456789ABCDEF
DATABASE_URL=sqlite3:/home/site/wwwroot/redmine.sqlite3
