# Enable App Service storage at /home
WEBSITES_ENABLE_APP_SERVICE_STORAGE=true

# RAILS_IN_SERVICE should be empty to enter maintenance mode
RAILS_IN_SERVICE=

# Local development settings
SECRET_KEY_BASE=0123456789ABCDEF
DATABASE_URL=sqlite3:/home/site/wwwroot/redmine.sqlite3
